* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  
}
header {
  height: 450px;
  background-image: url(./nintendo_images/bg-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #fff;
  padding-left: 3rem;
  padding-right: 3rem;
}
header::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
}
header div,
header p,
header h2,
header h1 {
  position: relative;
}
.content {
  width: 50%;
  text-align: center;
}
.content h1{
    font-size: 50px;  
}
.content h2{
    padding-top: 8px;
}
.content p{
    font-size: 14px;
 
}
.submit-coloum{
    padding-top: 20px;

}
input {
    padding: 10px;
    border-radius: 5px;
    border-style: none;   
    width: 50%;
}
button{
 padding: 10px;
 width: 250px;
    background-color: red;
    border-style: none;
    border-radius: 5px;
    color: white;
}

#game-changer {
  margin-bottom: 3rem;
}
.game-changer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.changer {
  width: 31%;
  height: 180px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.changer h3 ,p{
    padding-top: 10px;
}
.changer p{
    color: gray;
}


section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
section h2 {
  text-align: center;
  margin-bottom: 2rem;
}
#from-switch p{
    width: 680px;
    margin: auto;
    text-align: center;
    align-items: center;
    margin-bottom: 2rem;
}
 table {
      width: 100%;
      max-width: 900px;
    margin-top: 20px;
      justify-content: center;
      margin: 0 auto 40px;
      border-collapse: collapse;
    }
    table,th,td {
      border: 1px solid rgb(204, 204, 204);
      
      
    }
    th,td {
      padding: 15px;
      
      color: rgb(145, 145, 145);
      text-align: center;
    }
thead tr{
    background-color: black;
    color: rgb(40, 50, 200); 
}

#apart {
  margin-bottom: 3rem;
}
.apart-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.apart img {
  width: 100%;
  height: 70%;
  object-fit: contain;
}
.apart{
    
  width: 32%;
  height: 250px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.apart h4 {
    font-size: 20px;
}
.apart p{
    font-size: 15px;
}

.title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.title {
  width: 23%;
  height: 200px;
  
}
.title img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 5px;
}
.title h3 {
  text-align: center;
  padding-top: 0.5rem;
}
.divider {
  background-color: red;
  height: 4px;
  margin-top: 30px;
 } 
 
#scoops {
  margin-bottom: 3rem;
 
}
.scoopsection {
    height: 380px;
   display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.scoop{
    
  width: 32%;
  height: 360px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  position: relative;


}

.scoop img {
  width: 100%;
  height: 55%;
  position: absolute;
  object-fit: cover;
  background-color: red;
  top: 0;
border-radius: 10px 10px 0 0 ;
}

.scoop h3 {
    position: absolute;
    font-size: 15px;
    width: 380px;
  
    top: 57%;
}
.scoop p{
    font-size: 13px;
    position: absolute;
    top: 67%;
}
.scoop a{
    position: absolute;
    top: 87%;
    text-decoration: none;
    padding: .4rem .8rem;
    background-color: red;
    color: white;
    border-radius: 5px;
    
  
}
.shop-best{
        margin-top: 50px;
       display: flex;
       align-items: center;
       justify-content: space-between;
       background-color: rgb(255, 230, 215);
       
    }
    .shop-best-box:first-of-type,
    .shop-best-box:last-of-type{
        width: 20%; 
        
        
    }
      .shop-best-box:nth-of-type(2){
        width: 40%;
        text-align: center;
        /* margin-bottom: 20px; */
        
        
        color: red;    
      }
      
    .shop-best-box img{
        width: 100%;
    }
    
.shop-best-box a{
    text-decoration: none;
    color: white;
    background-color: red;
    padding: .5rem 1rem;
    margin: 10px 0 10px 0;
    display: inline-block;
    border-radius: 5px;
    

} 
button{
    margin-top: 20px;
}
@media (max-width:992px) {
  .content{
    width:100%;
  }
  .content h1{
    font-size: 30px;
  }
  .game-changer-wrapper{
    flex-direction: column;
  }
  .apart-wrapper{
    flex-direction: column;
  }
  .apart{
    width: 100%;
  }
  .title-wrapper{
    flex-direction: column;
  }
  .changer{
    width: 100%;
  }
  .title{
    width: 100%;
  }
  .scoopsection{
    
    flex-wrap: wrap;
    gap: 2rem;
    height: auto;
    
  }
  .scoop{
    padding: 10px;
   width: 48%;
    
  }
  footer{
    flex-direction: column;
  }
  .shop-best-box{
    width: 100%;
  }
  
}
  
@media (max-width: 480px){
  header{
    height: 400px;
    background-position: center;
    
  }
  .content{
    width: 100%;
  }
  .content h1{
    
    font-size: 30px;
    text-align: center;
  }
  .content p{
    font-size:13px ;
    text-align: center;
    width: 100%;
    
  }
  .content h2{
    font-size: 20px;
    text-align: center;
  }
  .submit-coloum{
    flex-direction: row;
  }
  
  input{
    padding: 7px;
    width: 200px;
  }
  button{
    padding: 7px;
    width: 200px;
  }
  .game-changer-wrapper,
  .apart-wrapper,
  .title-wrapper{
    
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .changer,
  .apart,
  .title{
    width: 90%;
    
    padding-bottom: 20px;
    
  }
  #from-switch p{
    width: 300px;
  }
  table{
    width: 90%;
    font-size: 14px;
  }
.scoopsection{
  
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  height: auto;

}

.scoop{
  width: 90%;
  align-items: center;
  
}
.scoop h3{
  font-size: 16px;
  

}
.scoop p{
  font-size: 13px;

}
.scoop a{

  padding: .2rem .5rem;
}
footer{
  flex-direction: column;
}
.shop-best-box:nth-of-type(2){
  font-size: 15px;
  width: 100%;
  margin: auto;
  text-align: center;
  
}

} 




